button {
  border: none;
}
body,
input,
textarea,
select,
button,
table {
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(34, 34, 34);
  font-size: 13px;
  line-height: 1.5;
}
// reset
p {
  margin: 0;
  padding: 0;
}
.iPohNc {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: rgb(178, 199, 217);
}

// kakaoHeader
.wPmNI {
  width: 100%;
  background-color: rgb(169, 189, 206);
  height: 50px;
  button {
    font-size: 20px;
    padding: 10px 10px 10px 30px;
    background-color: rgb(169, 189, 206);
    outline: none;
    cursor: pointer;
  }
  span {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

// kakaoContent
.uFNas {
  position: absolute;
  inset: 50px 0px 65px;
  overflow: auto;
  width: 100%;
  padding: 0 20px;
}

.login_btn {
  position: absolute;
  right: 5px;
  top: 16px;
}

// 채팅방 리스트
.jwBxvn {
  position: relative;
  height: 750px;
  .preview .BaseStyle__Notification-sc-1se1zy4-5 {
    top: 3px;
    right: 5px;
    padding: 3px;
  }
  .room-block-top {
    position: relative;
    span {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .preview {
    position: relative;
    height: 40px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 80px;
  }
  li {
    list-style: none;
    padding: 10px 20px 10px 85px;
    position: relative;
    &:hover {
      background-color: rgb(234, 234, 235);
    }
    img {
      position: absolute;
      top: 18px;
      left: 30px;
      width: 45px;
      height: 45px;
      border-radius: 15px;
      cursor: pointer;
    }
    p {
      color: rgb(112, 112, 112);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-height: 19px;
      font-size: 12px;
      b {
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}

.dFciPp {
  position: absolute;
  display: inline-block;
  padding: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 81, 61);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  min-width: 25px;
  text-align: center;
}

.chattingRoom_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgb(178, 199, 217);
}
