.page-header {
  border-bottom: 1px solid #d2d5db !important;
  z-index: 5;
  position: sticky;
  top: 0;
  background: linear-gradient(270deg, #fff, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7), #fff);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid hsla(0, 0%, 100%, 0.18);
  .title-row {
    padding: 16px;
    height: 56px;
    display: flex;
    align-items: center;
    > h1 {
      font-style: normal;
      font-size: 18px !important;
      color: #000;
      white-space: nowrap;
      margin-bottom: 0px;
      margin-left: 6px;
    }
  }
}
