.posting {
  display: flex;
  flex-direction: row;
}
.posting-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.posting-item > button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #ff424d;
  background-color: #ffeced;
  margin: 20px 20px 10px 20px;
}

.posting-item > button > i {
  font-size: 20px;
}

/* .post-txt {
  margin: 20px;
} */

.post-submit {
  font-size: 16px;
  background-color: transparent;
  color: #bdbdbd;
}

.post-now {
  width: 96%;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.post-later {
  width: 96%;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.txt-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.date-time {
  margin: 5px 0px 5px 0px;
  background-color: #fef2f2;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
}
.date-time > span {
  width: 100%;
}

.date-time > span > input {
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.uploader-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uploaderBox {
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.12);
  text-align: center;
  cursor: pointer;
}

.uploaderBox > span {
  color: white;
  font-size: 45px;
  margin-top: 28px;
}

.photoPreview {
  width: 100px;
  height: 100px;
}

.photoBox {
  position: relative;
}

.photoBox > span {
  position: absolute;
  left: 80px;
  font-size: 20px;
}

.photoBox > div > span {
  position: absolute;
  right: 10px;
  font-size: 20px;
  z-index: 99;
}

.wrap-horizontal {
  /* width: 500px;
  padding: 20px;
  overflow: scroll;
  color: #112031;
  background: #f0d9ff;
  border: 1px solid #000; */
  /* 가로 스크롤 */
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: scroll hidden;
}
