/* .v-navigation-drawer--is-mobile:not(.v-navigation-drawer--close),
.v-navigation-drawer--temporary:not(.v-navigation-drawer--close) {
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%),
    0 6px 30px 5px rgb(0 0 0 / 12%);
} */

.theme--light.v-navigation-drawer {
  background-color: #fff;
}

.v-navigation-drawer--temporary {
  z-index: 7;
}

.v-navigation-drawer--fixed {
  position: fixed;
}

.v-navigation-drawer {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: auto;
  top: 0;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, width;
}

.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.drawer-toolbar {
  height: 56px;
  padding: 16px;
  border-bottom: 1px solid #f2f2f2;
}

.myP {
  display: inline-block;
  width: 100%;
}

.v-application .align-center {
  align-items: center !important;
}

.v-application .justify-space-between {
  justify-content: space-between !important;
}

.v-application .d-flex {
  display: flex !important;
}

.drawer-toolbar p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  color: #110f1a;
  color: #000;
  margin: 0;
}

.v-icon.v-icon.v-icon--link {
  cursor: pointer;
  outline: none;
}

.v-icon.v-icon {
  align-items: center;
  display: inline-flex;
  font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.theme--light.v-icon {
  color: rgba(0, 0, 0, 0.54);
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

.tit[data-v-76283c3a] {
  padding: 0 0 5px 16px !important;
  text-align: left !important;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a,
button {
  touch-action: manipulation;
}

button,
select {
  text-transform: none;
}

body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
legend,
li,
ol,
p,
pre,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.app-menu-content {
  overflow-y: auto;
  height: calc(100vh - 56px);
  padding-bottom: 150px;
}

h2.tit {
  padding: 40px 15px 10px;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 22px;
}

h1,
h2 {
  font-style: normal;
  color: #110f1a;
}

.tit .thmb-prf {
  display: block;
  width: 56px;
  height: 56px;

  margin-top: 16px;
  /* margin-left: 30px; */
}

.ico-photo,
.thmb-prf {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tit .id {
  display: block;
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 2px;
  /* margin-left: 30px; */
}

.tit .id span {
  line-height: 100%;
  display: block;
  color: #b3b3b3;
  font-size: 14px;
}

.theme--light.v-navigation-drawer .v-divider {
  /* border-color: rgba(0, 0, 0, 0.12); */
  border-color: #e0e0e0;
}

.v-application .mb-4 {
  margin-bottom: 16px !important;
}

.v-divider[data-h] {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid 1px #e0e0e0;
  border-width: thin 0 0;
  transition: inherit;
  margin-bottom: 5px !important;
}

.mdi-close::before {
  content: "\F0156";
}

.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon.v-icon:after {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.3);
  width: 100%;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: #000;
}

.v-application a {
  color: #000000;
  cursor: pointer;
}

a {
  cursor: pointer;
  background-color: transparent;
}

a,
button {
  touch-action: manipulation;
}

fieldset,
img,
input,
li,
textarea {
  border: 0;
  vertical-align: top;
}

body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
legend,
li,
ol,
p,
pre,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
}

.menus {
  font-size: 18px;
}

.menus a {
  position: relative;
  display: block;
  border-bottom: 1px solid #f9f9f9;
  line-height: 40px;
  padding-left: 16px;
  text-decoration: none;
  color: black;
}

.menus a:hover {
  color: black;
  text-decoration: none;
}

.menus a :after {
  background: url(https://static.likeycontents.xyz/assets/av1/img/sp.47f79ba.png)
    no-repeat;
  background-size: 500px 500px;
  background-position: -295px -60px;
  position: absolute;
  top: 13px;
  right: 16px;
  width: 8px;
  height: 14px;
  content: "";
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

.menus + .menus {
  position: relative;
  padding-top: 24px;
  margin-top: 24px;
}

.l-info {
  padding: 16px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}

.l-info a {
  margin-bottom: 8px;
  color: #b3b3b3;
  font-size: 12px;
  text-align: center;
}

/*********************************************
**************  STARLET DESIGN ***************
**********************************************/

.leftdrawer-label {
  /* Label / Tab */

  box-sizing: border-box;

  /* Auto layout */

  display: grid;
  grid-template-columns: 0.15fr 0.03fr 1fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    "lefticon . text righticon"
    ". . . .";

  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px; */
  /* gap: 10px; */

  /* position: absolute; */
  width: 100%;
  height: 44px;
  left: 0px;
  top: 282px;

  border-bottom: 1px solid #f2f2f2;
}

.icon-star {
  background-image: url(../styles/Icons/leftdrawer_star.svg);
}

.icon-profile {
  background-image: url(../styles/Icons/leftdrawer_profile.svg);
}

.icon-membership {
  background-image: url(../styles/Icons/leftdrawer_membership.svg);
}

.icon-card {
  background-image: url(../styles/Icons/leftdrawer_card.svg);
}
.icon-setting {
  background-image: url(../styles/Icons/leftdrawer_setting.svg);
}

.icon-servicecenter {
  background-image: url(../styles/Icons/leftdrawer_servicecenter.svg);
}

.icon-notice {
  background-image: url(../styles/Icons/leftdrawer_notice.svg);
}

.icon-logout {
  background-image: url(../styles/Icons/leftdrawer_logout.svg);
}

.icon-purchase {
  background-image: url(../styles/Icons/leftdrawer_purchase.svg);
}

.icon-following {
  background-image: url(../styles/Icons/leftdrawer_following.svg);
}

.icon-creatormanage {
  background-image: url(../styles/Icons/leftdrawer_creatormanage.svg);
}

.icon-subscriber {
  background-image: url(../styles/Icons/leftdrawer_subscriber.svg);
}

.icon-follower {
  background-image: url(../styles/Icons/leftdrawer_follower.svg);
}

.icon-vip {
  background-image: url(../styles/Icons/leftdrawer_vip.svg);
}

.icon-revenue {
  background-image: url(../styles/Icons/leftdrawer_revenue.svg);
}

.icon-usermanage {
  background-image: url(../styles/Icons/leftdrawer_usermanage.svg);
}

.icon-codemanage {
  background-image: url(../styles/Icons/leftdrawer_codemanage.svg);
}

.icon-complain {
  background-image: url(../styles/Icons/leftdrawer_complain.svg);
}

.l-txt {
  grid-area: text;
  /* width: 175px; */
  height: 20px;
  padding-left: 5px;

  /* Body18 / Regular */

  font-family: "SUIT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  /* order: 1; */
  flex-grow: 0;
}

.l-i {
  grid-area: lefticon;
  margin-left: 10px;
  width: 100%;
  height: 20px;
}

.r-i {
  grid-area: righticon;
}

/* chat right drawer */

.wrap-menu {
  display: none;
  position: fixed !important;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 21;
}

.wrap-menu {
  left: 0;
}

.wrap-menu.on {
  display: block;
}

.wrap-menu .menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(100% - 50px);
  max-width: 320px;
  background: #fff;
  box-shadow: 0 16px 24px rgb(0 0 0 / 20%);
}

.menu {
  transform: translateZ(0);
}

.menu.chat {
  left: auto;
  right: 0;
  padding-top: 53px;
}

h1,
h2 {
  font-style: normal;
  color: #110f1a;
}

.menu.chat h2 {
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
}

[class^="bx-select"]:last-of-type {
  margin-right: 0;
}

.menu.chat .menus .bx-select {
  position: relative;
  display: block;
  padding: 15px 24px 10px 16px;
  border-bottom: 1px solid #f9f9f9;
}

[class^="bx-select"] .inp-lb {
  display: inline-block;
  font-size: 15px;
  color: #222;
  line-height: 14px;
  white-space: nowrap;
}

.menu.chat .menus .bx-select .inp-lb .btn-album {
  color: #212121;
  font-size: 18px;
}

.menu .menus a {
  position: relative;
  display: block;
  border-bottom: 1px solid #f9f9f9;
  line-height: 40px;
  padding-left: 16px;
}
.menu.chat .members {
  padding: 0 0 0 16px;
  margin-bottom: 80%;
}

.menu.chat .members h3 {
  font-size: 18px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.menu.chat .members .celeb {
  position: relative;
  min-height: 56px;
  margin-top: 16px;
  padding-left: 68px;
}

.menu.chat .members .celeb .name {
  display: block;
  max-width: 100%;
  padding-top: 9px;
}

.menu.chat .members .celeb .name.cfm {
  position: relative;
}

.menu.chat .members .celeb .name i,
.menu.chat .members .celeb .name .id {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu.chat .members .celeb .name i {
  display: inline-block;
  max-width: calc(100% - 20px);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.menu.chat .members .celeb .name .id {
  position: absolute;
  top: 34px !important;
  left: 0;
  width: 80%;
  color: #b3b3b3;
}

.menu.chat .opts {
  position: absolute;
  /* bottom: 0; */
  left: 0;
  right: 0;
  height: 50px;
  padding: 18px 0 0 0;
  background: #f9f9f9;
  text-align: right;
  box-sizing: border-box;
}

.menu.chat .opts a {
  display: inline-block;
  color: #878787;
  font-size: 14px;
}

.menu.chat .opts a:before {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  content: "";
}

.menu.chat .opts .bt-block:before {
  background: url(https://static-beta.likeycontents.xyz/assets/av1/img/sp.47f79ba.png)
    no-repeat;
  background-size: 500px 500px;
  background-position: -255px -225px;
  margin-right: 5px;
}

.menu.chat .opts .bt-report {
  margin-left: 22px;
}

.menu.chat .opts .bt-report:before {
  background: url(https://static-beta.likeycontents.xyz/assets/av1/img/sp.47f79ba.png)
    no-repeat;
  background-size: 500px 500px;
  background-position: -315px -225px;
  margin-right: 4px;
}

.menu.chat .opts .bt-exit {
  position: absolute;
  top: 18px;
  left: 2px;
}

.menu.chat .opts .bt-exit:before {
  background: url(https://static-beta.likeycontents.xyz/assets/av1/img/sp.47f79ba.png)
    no-repeat;
  background-size: 500px 500px;
  background-position: -285px -225px;
}

.opts > a {
  text-decoration: none;
  cursor: pointer;
}
