.payment_btn_after {
  color: red;
}

.payment_btn_before {
  color: grey;
}

[class^="tab"] {
  display: flex;
  height: 41px;
}

[class^="tab"] > a {
  position: relative;
  z-index: 3;
  flex: 1;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  color: #595959;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}

[class^="tab"] > a.on {
  color: #fb7268;
  border-bottom: 2px solid #fb7268;
}

[class^="tab"] > div {
  position: relative;
  z-index: 3;
  flex: 1;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  color: #595959;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid var(--color-gray);
  color: var(--color-text-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
  text-align: center;
  cursor: pointer;
}

[class^="tab"] > div.on {
  color: #141414;
  border-bottom: 2px solid #000;
  cursor: pointer;
  color: var(--color-main);
  border-bottom: 2px solid var(--color-main);
  cursor: pointer;
  font-weight: 600;
}

.contentoff {
  display: none;
}

.contenton {
  display: block;
}

.set-payment-heart {
  padding: 0 16px;
}

[class^="set-payment"] h3 {
  position: relative;
  padding-bottom: 8px;
  margin-top: 30px;
  border-bottom: 2px solid #000;
  font-size: 17px;
  font-weight: 700;
}

.hrts {
  display: block;
  padding: 4px 0 0;
  font-size: 16px;
  font-weight: 700;
  color: #222;
}

[class^="set-payment"] h3 .hrts {
  position: absolute;
  top: -4px;
  right: 0;
  padding: 0;
  font-weight: 400;
}

/* .hrts:before {
    background-image: url(../styles/Icons/star_charge.svg);
    background-repeat: no-repeat;
    background-size: 600px 500px;
    background-position: -150px -130px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px 3px -4px 0;
    content: "";
} */

.star_money {
  background-image: url(../../public/img/star.svg);
  /* background-image: url(../../public/img/star.svg); */
  /* background-image: url(../../public/img/star.svg); */
  background-image: url(../styles/Icons/coin_4_p.svg);
  background-position: center;
  display: inline-block;
  width: 26px;
  height: 22px;
}

/* .set-payment-heart div {
  position: relative;
  display: block;
  border-bottom: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 48px;
  cursor: pointer;
} */

/* .set-payment-heart div:before {
  background-image: url();
  background-repeat: no-repeat;
  background-size: 600px 500px;
  background-position: -20px -160px;
  right: 0;
  width: 9px;
  height: 15px;
  content: "";
  cursor: pointer;
} */

.set-payment-card {
  position: relative;
  padding: 0 16px;
}

.v-application a {
  cursor: pointer;
}

.set-payment-card .btn-add {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 20px 36px 20px 60px;
}
.set-payment-card .btn-add:hover {
  background-color: var(--color-lighttest-gray);
}

.add_card {
  background-image: url(../../public/img/add_card.svg);
  display: inline-block;
  width: 29px;
  height: 15px;
}

.add-method {
  margin-top: -10px;
  padding: 0 16px 40px;
}

.add-method h2 {
  margin-top: 33px;
  color: #878787;
  font-size: 16px;
  font-weight: 700;
}

.add-method .wrap-inp {
  display: flex;
}

/* 카드 정보 디자인변경 */
.add-method .col-6-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add-method .col-6-wrap > div {
  /* display: inline-block; */
  /* width: calc(50% - 10px); */
  flex: 50%;
}
.add-method .col-6-wrap > div:nth-child(odd) {
  padding-right: 20px;
}
.add-method .col-6-wrap > div:nth-child(even) {
  padding-left: 20px;
}
/* 카드 정보 디자인변경 */

fieldset,
img,
input,
li,
textarea {
  border: 0;
  vertical-align: top;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.add-method .inp-tx {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  line-height: 46px;
}

.add-method .wrap-inp.card-no .inp-tx {
  width: 25%;
  margin-left: 8px;
}

.add-method .wrap-inp.card-no .inp-tx:first-of-type {
  margin-left: 0;
}

.add-method .wrap-inp.card-no .inp-tx {
  text-align: center;
}

.add-method h2 {
  margin-top: 33px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.body-16,
.body-18-bold {
  font-style: normal;
  color: #110f1a;
}

.body-16 {
  font-weight: 400;
  font-size: 16px !important;
}

.wrap-inp {
  position: relative;
  margin-top: 24px !important;
}

.alarmSet,
.certify19 .wrap-inp + .btn-no,
.charge-amount,
.choose-sex,
.cmf-sns,
.copy-url,
.copy-url .wrap-inp + .btn-copy,
.edit-prf,
.inner-pc,
.login-facebook,
.login-other .wrap-inp + .btn-login,
.login .wrap-inp + .btn-switch,
.lst-alarm-old,
.lst-follow-celeb,
.lst-home-old,
.lst-people,
.lst-used,
.ly-sendGift .wrap-inp + .btn-sendNow,
.ly-tmp-bg .wrap-inp + .btn-go,
.msg-state-old,
.my-interest,
.rcmmnd-star .wrap-inp + .btn-follow,
.reaction .done .wrap-inp + .btn-cfm,
.realtime-chat,
.share-link,
.share-link .wrap-inp + .btn-done,
.tab-chat,
.tab-ranking,
/* .tags, */
.welcome-msg,
.withdrawal .agree-withdrawal,
.wrap-agree,
.wrap-agree-adult,
.wrap-birth,
.wrap-btns .wrap-inp + [class^="btn-"],
.wrap-gift .payment .wrap-inp + .btn-sendNow,
.wrap-gold .wrap-inp + .btn-lst,
.wrap-heart .wrap-inp + .btn-lst,
.wrap-inp,
.wrap-inp + .btn,
.wrap-inp + .btn-apple,
.wrap-inp + .btn-facebook,
.wrap-inp + .btn-google,
.wrap-inp + .btn-instagram,
.wrap-inp + .btn-nextStep,
.wrap-inp + .btn-phone,
.wrap-inp + .btn-reg,
.wrap-inp + .btn-skip,
.wrap-inp + .btn-telOk,
.wrap-inp + .btn-twitter,
.wrap-profile,
.wrap-timeline,
.writePost {
  max-width: 600px;
  margin: 0 auto;
}

.add-method .wrap-inp {
  display: flex;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
legend,
li,
ol,
p,
pre,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

fieldset,
img,
input,
li,
textarea {
  border: 0;
  vertical-align: top;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.add-method .inp-tx {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  line-height: 46px;
}

.add-method .wrap-inp .inp-tx.full-width {
  padding-left: 16px;
}

.add-method .disc {
  display: block;
  width: 100%;
  margin-top: 7px;
  color: #878787;
  font-size: 12px;
}

.add-method .inp-tx {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  line-height: 46px;
}
input::placeholder,
textarea::placeholder {
  color: var(--color-gray);
}
input:focus,
textarea:focus {
  outline: 2px solid rgb(0, 0, 0);
  /* border: transparent; */
}
.add-method .wrap-inp .inp-tx.full-width {
  padding-left: 16px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #110f1a;
}

body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
legend,
li,
ol,
p,
pre,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.v-application p {
  margin-bottom: 2px;
}

.add-method .disc {
  display: block;
  width: 100%;
  margin-top: 7px;
  color: #878787;
  font-size: 12px;
}

.agreement {
  padding: 0 16px;
  border-top: 8px solid #f2f2f2;
}

.agreement[data-v-bfc47e50] {
  margin-bottom: 40px;
}

[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
  color: inherit;
}

.caption-14-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #110f1a;
  line-height: 140%;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

.agreement .btn-all {
  margin-top: 18px;
  padding: 0 24px;
  border-radius: 8px;
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.7);
  line-height: 38px;
}
.agreement .btn-all:hover {
  color: #000;
}
.agreement .btn-all.on {
  /* background: #ffeced; */
  /* color: #ff424d; */
  background-color: var(--color-main-3);
  color: var(--color-main);
  color: var(--color-main-p);
}

.agreement .btn-all:before {
  background-image: url(../styles/Icons/ico_check_circle_g.svg);
  background-position: center;
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  /* filter: grayscale(100%); */
  /* opacity: 0.25; */
  vertical-align: middle;
  content: "";
}
.agreement .btn-all.on:before {
  background-image: url(../styles/Icons/ico_check_circle_p.svg);
}
[class^="bx-select"] {
  display: inline-block;
  position: relative;
}

.agreement .bx-select {
  display: block;
  margin: 24px 0 0;
}

.agreement .bx-select:first-of-type {
  margin-top: 20px;
}
.agreement .bx-select .payment_btn_before::before {
  /* position: absolute;*/
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-top: 0px;
  vertical-align: middle;
  /* top: 0px; */
  /* left: 0px; */
  background-image: url(../styles/Icons/ico_check_circle_g.svg);
  background-position: center;
}
.agreement .bx-select .payment_btn_after::after {
  /* position: absolute;*/
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-top: 0px;
  vertical-align: middle;
  /* top: 0px; */
  /* left: 0px; */
  background-image: url(../styles/Icons/ico_check_circle_p.svg);
  background-position: center;
}
[class^="bx-select"] .inp-chk {
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  margin-top: -12px;
  border: 0;
  background: none;
  -webkit-appearance: none;
}

.agreement .bx-select .inp-chk {
  position: absolute;
  top: 15px;
  left: 0;
}

[class^="bx-select"] .inp-lb {
  display: inline-block;
  font-size: 15px;
  color: #000;
  line-height: 14px;
  white-space: nowrap;
}

.agreement .bx-select .inp-lb {
  /* padding-left: 30px; */
  font-size: 14px;
  line-height: 22px;
  white-space: normal;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: #000;
}

/* .alarmSet .btn-reg,
=======
.alarmSet .btn-reg,
>>>>>>> 5631ab0714c9d1ec69e0ac390ea906e5f2af8c2a
.btn-apple:before,
.btn-facebook:before,
.btn-google:before,
.btn-instagram:before,
.btn-phone:before,
.btn-twitter:before,
.btn-view,
.bx-agree4 .inp-lb,
.bx-agree .inp,
.bx-agree .inp-lb,
.bx-chk .inp,
.bx-chk .inp-lb:before,
.charge-amount .amount,
.choose-sex p,
.cmf-sns .btn-cmf,
.cmf-sns .done,
.cmf-sns:before,
.copy-url .btn-copy,
.copy-url .p-url,
.copy-url:before,
.exact-amount .amount,
.gold-state span:before,
.heart-state span:before,
.int-code:before,
.intro header .bt-login,
.intro header h1,
.lst-alarm-old .lst .btn-follow,
.lst-alarm-old .lst .btn-following,
.lst-alarm-old .lst .btn-reply,
.lst-alarm-old .lst .btn-talk,
.lst-alarm-old .lst .gift:before,
.lst-alarm-old .lst .ico-gift,
.lst-alarm-old .lst .ico-photo,
.lst-alarm-old .lst .ico-voice,
.lst-alarm-old .lst .msg:before,
.lst-alarm-old .lst .rqst:before,

.lst-alarm-old .lst .thmb-post,
.lst-alarm-old .lst .thmb-prf,
>>>>>>> 5631ab0714c9d1ec69e0ac390ea906e5f2af8c2a
.lst-follow-celeb .btn-follow,
.lst-follow-celeb .btn-following,
.lst-follow-celeb .ico-photo,
.lst-follow-celeb .thmb-prf,
.lst-home-old .lst .btn-follow,
.lst-home-old .lst .btn-following,
.lst-home-old .lst .btn-reply,
.lst-home-old .lst .btn-talk,
.lst-home-old .lst .gift:before,
.lst-home-old .lst .ico-gift,
.lst-home-old .lst .ico-photo,
.lst-home-old .lst .ico-voice,
.lst-home-old .lst .msg:before,
.lst-home-old .lst .rqst:before,
.lst-home-old .lst .thmb-post,
.lst-home-old .lst .thmb-prf,
.lst-people .ico-photo,
.lst-people .thmb-prf,
.lst-ranking .btn-follow,
.lst-ranking .btn-following,
.lst-ranking .rank,
.lst-ranking .rank:before,
.lst-used .lst li .gold:before,
.lst-used .lst li .heart:before,
.ly-media .wrap-bottom .btn-dlt,
.ly-media .wrap-bottom .heart,
.ly-media .wrap-bottom .ico-lock,
.ly-media .wrap-bottom .ico-unlock,
.ly-tutorial p[class^="step"] img,
.middle-vertical,
.msg-state-old .gold:before,
.msg-state-old .heart:before,
.my-following .celeb:after,
.payment-state .state em,
.pop-alert:before,
.reaction .done .btn-cfm,
.reaction .lst-rqst .item:before,
.search-text-field-wrapper .btn-cls,
.select-payment [class^="btn-"]:before,
.set-payment-heart div:before,
.set-payment-history [class^="pay-"] .cost,
.set-payment-history [class^="pay-"] .result,
.set-payment-history [class^="pay-"]:before,
.set-payment-history [class^="pay-"] p,
.star-cfm:before,
.telno-cfm:before,
.unread-dot,
.wrap-birth span,
.wrap-btns [class^="btn-"]:before,
.wrap-gift .lst-gift .heart:before,
.wrap-gift .payment .btn-sendNow,
.wrap-gift .payment .count-gift,
.wrap-gift .payment .heart,
.wrap-gift .tit .heart:before,
.wrap-switch .switch,
header.app-header.h-tx .ico-heart,
header.app-header .heart:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

.btn-view {
  right: 0;
  padding: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

.agreement .bx-select .btn-view {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  line-height: 20px;
}

.agreement h2 {
  margin-top: 25px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .certify19 .v-application .btn-no,
  .copy-url .v-application .btn-copy,
  .login-other .v-application .btn-login,
  .login .v-application .btn-switch,
  .ly-sendGift .v-application .btn-sendNow,
  .ly-tmp-bg .v-application .btn-go,
  .rcmmnd-star .v-application .btn-follow,
  .reaction .done .v-application .btn-cfm,
  .share-link .v-application .btn-done,
  .v-application .btn,
  .v-application .btn-apple,
  .v-application .btn-facebook,
  .v-application .btn-google,
  .v-application .btn-instagram,
  .v-application .btn-nextStep,
  .v-application .btn-phone,
  .v-application .btn-reg,
  .v-application .btn-skip,
  .v-application .btn-telOk,
  .v-application .btn-twitter,
  .v-application .certify19 .btn-no,
  .v-application .copy-url .btn-copy,
  .v-application .login-other .btn-login,
  .v-application .login .btn-switch,
  .v-application .ly-sendGift .btn-sendNow,
  .v-application .ly-tmp-bg .btn-go,
  .v-application .rcmmnd-star .btn-follow,
  .v-application .reaction .done .btn-cfm,
  .v-application .share-link .btn-done,
  .v-application .wrap-btns [class^="btn-"],
  .v-application .wrap-gift .payment .btn-sendNow,
  .v-application .wrap-gold .btn-lst,
  .v-application .wrap-heart .btn-lst,
  .wrap-btns .v-application [class^="btn-"],
  .wrap-gift .payment .v-application .btn-sendNow,
  .wrap-gold .v-application .btn-lst,
  .wrap-heart .v-application .btn-lst {
    max-width: 600px;
  }
}

.agreement .btn-reg,
.btn-black,
.payment-reg-done .btn-ok {
  width: calc(100% - 48px);
  margin: 16px 24px 0;
  border-radius: 28px;
  background: #141414;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
}

.agreement .btn-reg {
  background: #f2f2f2;
  color: #ccc;
  padding: 0;
}

.agreement .btn-reg.on {
  /* background: #000; */
  background: var(--color-main);
  color: #fff;
}
.agreement .btn-reg.on:hover {
  background-color: var(--color-main-hover);
}

.certify19 .v-application .btn-no:disabled,
.copy-url .v-application .btn-copy:disabled,
.login-other .v-application .btn-login:disabled,
.login .v-application .btn-switch:disabled,
.ly-sendGift .v-application .btn-sendNow:disabled,
.ly-tmp-bg .v-application .btn-go:disabled,
.rcmmnd-star .v-application .btn-follow:disabled,
.reaction .done .v-application .btn-cfm:disabled,
.share-link .v-application .btn-done:disabled,
.v-application .btn-apple:disabled,
.v-application .btn-facebook:disabled,
.v-application .btn-google:disabled,
.v-application .btn-instagram:disabled,
.v-application .btn-nextStep:disabled,
.v-application .btn-phone:disabled,
.v-application .btn-reg:disabled,
.v-application .btn-skip:disabled,
.v-application .btn-telOk:disabled,
.v-application .btn-twitter:disabled,
.v-application .btn:disabled,
.v-application .certify19 .btn-no:disabled,
.v-application .copy-url .btn-copy:disabled,
.v-application .login-other .btn-login:disabled,
.v-application .login .btn-switch:disabled,
.v-application .ly-sendGift .btn-sendNow:disabled,
.v-application .ly-tmp-bg .btn-go:disabled,
.v-application .rcmmnd-star .btn-follow:disabled,
.v-application .reaction .done .btn-cfm:disabled,
.v-application .share-link .btn-done:disabled,
.v-application .wrap-btns [class^="btn-"]:disabled,
.v-application .wrap-gift .payment .btn-sendNow:disabled,
.v-application .wrap-gold .btn-lst:disabled,
.v-application .wrap-heart .btn-lst:disabled,
.wrap-btns .v-application [class^="btn-"]:disabled,
.wrap-gift .payment .v-application .btn-sendNow:disabled,
.wrap-gold .v-application .btn-lst:disabled,
.wrap-heart .v-application .btn-lst:disabled {
  opacity: 0.6;
}

.payment-reg-done h2 {
  margin-top: 67px;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
}

.payment-reg-done .my {
  position: relative;
  margin: 80px 15px 20px;
  padding: 0 13px;
  /* border: 1px solid #e7e7e7; */
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}
.payment-reg-done .cardView_box {
  position: relative;
  display: inline-block;
  width: 268px;
  height: 161px;
  background-color: #000;
  border-radius: 7px;
  text-align: center;
  margin: 0 auto;
}
.payment-reg-done .cardView_box::before {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  background-image: url(../styles/Icons/ico_card_w.svg);
  background-position: center;
}
.payment-reg-done .cardView_box::after {
  position: absolute;
  top: 10px;
  left: 50px;
  content: "신용카드";
  color: #fff;
  display: inline-block;
}

.payment-reg-done .my .cc {
  line-height: 47px;
}

.payment-reg-done .my .no {
  margin-top: 60px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #fff;
  line-height: 47px;
}

.payment-reg-done .my .exp {
  display: block;
  padding-bottom: 15px;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.payment-reg-done .bonus {
  margin-top: 17px;
  color: #595959;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.coin:before {
  background: url(https://static.likeycontents.xyz/assets/av1/img/sp.47f79ba.png);
  background-size: 330px 330px;
  background-position: -188.1px -19.8px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  vertical-align: middle;
  content: "";
}

.payment-reg-done h2:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 60px;
  background-image: url(../styles/Icons/ico_card_p.svg);
  background-position: center;
}

.btn-ok {
  margin-left: 16px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  color: #110f1a;
  color: #fff;
  position: fixed;
  bottom: 65px;
  max-width: 550px;
  width: calc(100% - 16px);
}

.set-payment-card {
  position: relative;
  padding: 0 16px;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: 10px solid var(--color-light-gray);
  margin-top: 40px;
}
.set-payment-card:first-child {
  border-top: none;
}

.set-payment-card .btn-change {
  position: absolute;
  top: 25px;
  right: 16px;
  color: #000;
  font-size: 13px;
}

.set-payment-card .btn-change:after {
  background-image: url(../styles/Icons/ico_change.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  content: "";
  vertical-align: middle;
  padding-top: 20px;
  margin-left: 4px;
}

.set-payment-card .added {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.set-payment-card .added .cc {
  line-height: 47px;
}

.set-payment-card .added .no {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 47px;
  text-align: right;
}

.set-payment-card .added .exp {
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
  color: #a8a8a8;
  text-align: right;
}

.set-payment-card .added .btn-dlt {
  display: inline-block;
  padding: 10px 16px;
  margin-top: 20px;
  color: #000;
  font-size: 13px;
  border: 1px solid var(--color-gray);
  min-width: 40px;
  border-radius: 8px;
  height: 40px;
  text-align: left;
}
.set-payment-card .added .btn-dlt:hover {
  background-color: var(--color-lighttest-gray);
}

.set-payment-history {
  margin: 0 16px;
}

[class^="set-payment"] h3 {
  position: relative;
  padding-bottom: 8px;
  margin-top: 30px;
  border-bottom: 2px solid #000;
  font-size: 17px;
  font-weight: 700;
}

.payment-history-item {
  margin-top: 12px;
  padding: 16px 0;
  width: 100%;
}
.payment-history-item thead {
  height: 40px;
  background-color: var(--color-lighttest-gray);
  color: var(--color-text-gray);
  font-size: 12px;
}
.payment-history-item thead tr > td:nth-child(3) {
  text-align: right;
}
.payment-history-item tr > td {
  padding: 8px 14px;
}
.payment-history-item tr > td:nth-child(1) {
  width: 145px;
}
.payment-history-item tbody tr:nth-child(1) > td {
  padding-top: 16px;
}
.payment-history-item tbody tr > td:nth-child(2) {
  font-weight: 700;
}
.payment-history-item tbody tr > td:nth-child(3) {
  text-align: right;
  font-weight: 700;
}

.payment-history-item-list {
  color: #000;
  font-size: 14px;
}
.payment-history-item-list > p {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
.v-application .d-flex {
  display: flex !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-space-between .black {
  color: black !important;
}

.v-application .align-center {
  align-items: center !important;
}

.payment-history-item p {
  margin: 0 0 8px;
}

.payment-history-item .note {
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #110f1a;
  color: #393939;
}

.set-payment-history .date {
  /* display: block; */
  color: #a8a8a8;
  font-size: 13px;
}

.payment-history-item .date {
  /* display: inline-block; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #110f1a;
  /* line-height: 140%; */
  color: #878787;
}

.payment-history-item .td {
  font-weight: 700;
  font-size: 16px;
}
.payment-history-item .gold-ico,
.heart-ico {
  /* background-image: url(https://static.likeycontents.xyz/assets/av1/img/sp2.87f8bd8.png);
  background-repeat: no-repeat;
  background-size: 600px 500px; */
  /* background-image: url(/_next/static/media/coin_4_p.f5bcff99.svg); */
  background-image: url(../styles/Icons/coin_4_p.svg);
  display: inline-block;
  margin: 0;
  content: "";
  left: 0;
  vertical-align: middle;
  /* background-color: rgba(125, 70, 255, 0.192); */
}

.heart-ico {
  /* background-position: -215px -105px; */
  display: inline-block;
  background-image: url(../styles/Icons/coin_4_p.svg);
  width: 23px;
  height: 16px;
  top: 0px;
}
/* .heart-ico::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 0px;
  vertical-align: middle;
  /* top: 0px; */
/* left: 0px; */ /*
  background-image: url(../styles/Icons/coin_4_p.svg);
  background-position: center;
} */

/* 카드 삭제 모달 */
.ly-wrap {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 30;
}

.ly-wrap div[class^="ly-"] {
  overflow: hidden;
  width: calc(100% - 70px);
  max-width: 400px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 9px rgb(0 0 0 / 25%);
  text-align: center;
  box-sizing: border-box;
}

.pre-line {
  white-space: pre-line;
}

.ly-wrap .ly-tmp [class^="disc"] {
  padding: 2px 25px 15px;
  font-size: 13px;
  line-height: 19px;
}

.ly-wrap .ly-tmp .wrap-btns {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.ly-wrap .ly-tmp .wrap-btns button {
  flex-grow: 1;
  width: 50%;
  padding: 0;
  margin-top: 0;
  border-radius: 0;
  background: #fff;
  font-size: 16px;
  line-height: 47px;
}

.wrap-btns [class^="btn-"]:before {
  left: 15px;
  content: "";
}

/* charge item 하트 충전 페이지 */

.wrap-gold,
.wrap-heart {
  padding-bottom: 20px;
  /* border-bottom: 1px solid #efefef; */
  /* background: #fafafa; */
  /* text-align: center; */
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #110f1a;
}

.gold-state,
.heart-state {
  padding-top: 15px;
  padding-bottom: 5px;
  color: #a0a0a0;
  font-size: 16px;
  /* text-align: center; */
}

p[data-v-7ffa9783] {
  padding-top: 20px;
  margin-bottom: 0;
}

.gold-state span,
.heart-state .subtit {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 5px;
  padding-left: 23px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 24px;
  font-weight: 500;
}

.ten_star {
  background-image: url(../../public/img/star.svg);
  display: inline-block;
  width: 26px;
  height: 22px;
}

.gold-state span:before,
.heart-state span:before {
  content: "";
  display: inline-block;

  /* background: url(../../public/img/star.svg); */
  /* background: url(../styles/Icons/coin_4_p.svg); */

  background-repeat: no-repeat;
}

.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1785px;
  }
}

.charge-heart .justify-start > div {
  background: #f0f0f0bf;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: -12px;
}

.v-application .justify-start {
  justify-content: flex-start !important;
}

@media (min-width: 600px) {
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

.v-card {
  border-width: thin;
  display: block;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  transition-property: box-shadow, opacity;
  word-wrap: break-word;
  position: relative;
  white-space: normal;
}

.v-card--link,
.v-card--link .v-chip {
  cursor: pointer;
}

.v-application .white {
  background-color: #fff !important;
  border-color: #fff !important;
}

.v-application .elevation-0 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12) !important;
}

.theme--light.v-card {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.charge-heart .heart-card {
  position: relative;
  text-align: center;
  height: 180px;
  border-radius: 3px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 55px;
}

.charge-heart .heart-card.star-10 {
  /* background-image: url(https://static.likeycontents.xyz/assets/av1/img/ico-hrt10.fe00790.png); */
  background-image: url(../../public/img/star-10.svg);
  background-size: 69px auto;
}

.charge-heart .heart-card.star-50 {
  background-image: url(../../public/img/star-50.svg);
  background-size: 69px auto;
}

.charge-heart .heart-card.star-100 {
  background-image: url(../../public/img/star-100.svg);
  background-size: 69px auto;
}

.charge-heart .heart-card.star-500 {
  background-image: url(../../public/img/star-500.svg);
  background-size: 69px auto;
}
.charge-heart .heart-card.star-1000 {
  background-image: url(../../public/img/star-1000.svg);
  background-size: 69px auto;
}

.charge-heart .heart-card.star-3000 {
  background-image: url(../../public/img/star-3000.svg);
  background-size: 69px auto;
}

.charge-heart .heart-card.star-5000 {
  background-image: url(../../public/img/star-5000.svg);
  background-size: 69px auto;
}

.charge-heart .heart-card.star-8000 {
  background-image: url(../../public/img/star-8000.svg);
  background-size: 69px auto;
}

/* .charge-heart .heart-card.star-9000 {
    background-image: url(../../public/img/star-9000.svg);
    background-size: 69px auto;
} */

.v-card--link:before {
  background: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s;
}

.charge-heart .hrt {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 15px;
  width: 100%;
  font-size: 11px;
}

.v-card > .v-card__progress + :not(.v-btn):not(.v-chip):not(.v-avatar),
.v-card > :first-child:not(.v-btn):not(.v-chip):not(.v-avatar) {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

address,
caption,
em {
  font-style: normal;
}

.charge-heart .hrt em {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.charge-heart .prc {
  bottom: 44px;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  font-size: 11px;
  text-decoration: line-through;
}

.charge-heart .prc,
.charge-heart .prc-dc {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.charge-heart .prc-dc {
  bottom: 12px;
  width: 87px;
  border-radius: 10px;
  background: var(--color-sub);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  text-decoration: initial;
}
.charge-heart .prc-dc:hover,
.charge-heart .prc-dc:focus {
  background-color: var(--color-sub-hover);
}

.col-sm-4 {
  width: 100%;
  padding: 11px;
}

.slot-container {
  transition: max-height 0.5s ease-in-out;
  /* overflow: hidden; */
}

.v-input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 16px;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
}

.v-text-field--outlined,
.v-text-field--solo {
  border-radius: 23px;
}

.v-text-field--outlined {
  margin-bottom: 16px;
  transition: border 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.v-select {
  position: relative;
}

.v-application .my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.theme--light.v-input,
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: rgba(0, 0, 0, 0.87);
}

.v-text-field.v-text-field--enclosed {
  margin: 0;
  padding: 0;
}

/* checkout-card page */

.checkout-plan-info-section {
  /* padding: 24px 16px; */
  padding: 0px 16px;
  background-color: #fff;
}

.v-application .mb-4 {
  margin-bottom: 16px !important;
}

.checkout-plan-info-section h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  color: #110f1a;
}

.v-application .mb-3 {
  margin-bottom: 12px !important;
}

.checkout-plan-info-section h4 {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #110f1a;
}

.plan-cart-item {
  position: relative;
  margin: 16px 0px 0;
  padding: 24px;
  background: #f5f5f5;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
}

.info-box {
  display: flex;
}

.info-box .left-box {
  flex: 0 0 64px;
}
.info-box .left-box .v-image {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

.v-image {
  z-index: 0;
}

.v-responsive {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  max-width: 100%;
  display: flex;
}

.theme--light.v-image {
  color: rgba(0, 0, 0, 0.87);
}

.v-responsive__sizer {
  transition: padding-bottom 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
  flex: 1 0 0px;
}

.v-image__image,
.v-image__placeholder {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-image__image {
  background-repeat: no-repeat;
}

.v-image__image--cover {
  background-size: cover;
}

.v-responsive__content {
  flex: 1 0 0px;
  max-width: 100%;
}

.v-application--is-ltr .v-responsive__sizer ~ .v-responsive__content {
  margin-left: -100%;
}

.info-box .right-box {
  margin-left: 15px;
  margin-top: 8px;
  flex: 1 1 auto;
}

.plan-cart-item p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  margin-top: 4px;
  color: #5a5a73;
  margin-bottom: 4px;
}

.info-box .right-box .title-label {
  word-break: break-all;
  margin-bottom: 6px;
  font-size: 16px;
  color: #fb7268;
}
.info-box .right-box span:nth-child(2) {
  word-break: break-all;
  margin-bottom: 6px;
  margin-left: 10px;
  font-size: 16px;
  color: #000000;
}
.info-box .right-box span:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-top: 3px;

  margin-right: 10px;
  background-color: var(--color-gray);
}
.plan-cart-item p {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 4px;
}

b,
strong {
  font-weight: bolder;
}

.actions button {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background-color: #f3f3f9;
  font-size: 12px;
  font-weight: 700;
}

.actions button:first-child {
  margin-right: 8px;
}

.plan-description-wrapper {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.plan-description {
  margin-top: 16px;
  padding: 24px;
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 16px;
}

.plan-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #110f1a;
  margin: 0;
}

.plan-description ul {
  list-style: disc;
  margin-bottom: 0;
}

.statements-section {
  padding: 24px 16px;
  background-color: #fff;
}

.statements-section h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  color: #110f1a;
}

.v-application .justify-space-between {
  justify-content: space-between !important;
}

.v-application .mt-2 {
  margin-top: 8px !important;
}

.big-label p {
  color: #2d2b40;
  font-weight: 600;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #110f1a;
  line-height: 140%;
  color: #838499;
  margin: 0;
}

.v-divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0;
  transition: inherit;
}

.theme--light.v-divider {
  border-color: rgba(0, 0, 0, 0.12);
}

.v-application .mt-2 {
  margin-top: 8px !important;
}

.statements-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #110f1a;
  line-height: 140%;
  color: #838499;
  margin: 0;
}

.statements-section .total-price-box p {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 24px !important;
  color: #110f1a;
}

.checkout-short-terms {
  margin: 16px 0;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 24px;
}

.checkout-short-terms p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #110f1a;
  line-height: 140%;
  color: #838499;
  margin-left: 10px;
  margin-bottom: 8px;
}

.checkout-short-terms ul {
  list-style: disc;
  padding-left: 24px;
  margin-bottom: 12px;
}

.checkout-short-terms li {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #110f1a;
  line-height: 150%;
  color: #838499;
}

.payment-method-section h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  color: #110f1a;
}

.payment-method-section {
  padding: 24px 16px;
  background-color: #fff;
  overflow: hidden;
  max-height: 600px;
  transition: max-height 0.5s;
}

.v-application .justify-space-between {
  justify-content: space-between !important;
}

.v-application .align-center {
  align-items: center !important;
}

.v-application .mt-2 {
  margin-top: 8px !important;
}

.card-number {
  height: 56px;
  padding: 16px;
  background-color: #2d2b40;
  border-radius: 8px;
}

.card-number p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #110f1a;
  margin: 0;
  color: #fff !important;
}

.card-number p span {
  vertical-align: middle;
  margin-left: 16px;
}

.card-number p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #110f1a;
  margin: 0;
  color: #fff !important;
}

.v-application .mr-2 {
  margin-right: 8px !important;
}

/* checkout-item page */

.v-application .mt-2 {
  margin-top: 8px !important;
}

.payment-method-selector {
  padding: 16px;
  background-color: #fff;
}

.v-input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 16px;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
}

.v-input--selection-controls {
  margin-top: 16px;
  padding-top: 4px;
}

.theme--light.v-input,
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: rgba(0, 0, 0, 0.87);
}

.v-input--selection-controls.v-input {
  flex: 0 1 auto;
}

.v-input__control {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  min-width: 0;
  width: 100%;
}

.v-input__slot {
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}

.v-input--selection-controls .v-input__slot,
.v-input--selection-controls .v-radio {
  cursor: pointer;
}

.v-input--hide-details > .v-input__control > .v-input__slot {
  margin-bottom: 0;
}

.v-input--radio-group__input {
  border: none;
  cursor: default;
  display: flex;
  width: 100%;
}

.v-input--radio-group--column .v-input--radio-group__input {
  flex-direction: column;
}

.select-item-wrapper {
  border-bottom: 1px solid #ededf5;
}

.v-application .py-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.slot-container {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.fold {
  max-height: 0 !important;
}

.v-radio {
  align-items: center;
  display: flex;
  height: auto;
  outline: none;
}

.v-input--selection-controls .v-input__slot,
.v-input--selection-controls .v-radio {
  cursor: pointer;
}

.v-input--selection-controls__input {
  color: inherit;
  display: inline-flex;
  flex: 0 0 auto;
  height: 24px;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  transition-property: transform;
  width: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 8px;
}

.v-label {
  font-size: 16px;
  line-height: 1;
  min-height: 8px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.v-input .v-label {
  height: 20px;
  line-height: 20px;
  letter-spacing: normal;
}

.theme--light.v-label {
  color: rgba(0, 0, 0, 0.6);
}

.v-input--selection-controls__input + .v-label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
  height: auto;
}

.v-input--selection-controls__input {
  color: inherit;
  display: inline-flex;
  flex: 0 0 auto;
  height: 24px;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  transition-property: transform;
  width: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 8px;
}

.v-icon.v-icon {
  align-items: center;
  display: inline-flex;
  font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-input--selection-controls__input .v-icon {
  width: 100%;
}

.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-radiobox-blank::before {
  content: "\F043D";
}

.mdi-plus::before {
  content: "\F0415";
}

.v-icon.v-icon:after {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.3);
  width: 100%;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}

.v-input--selection-controls__input input[role="checkbox"],
.v-input--selection-controls__input input[role="radio"],
.v-input--selection-controls__input input[role="switch"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-input--selection-controls__ripple {
  border-radius: 50%;
  cursor: pointer;
  height: 34px;
  position: absolute;
  transition: inherit;
  width: 34px;
  left: -12px;
  top: calc(50% - 24px);
  margin: 7px;
}

.slot-container {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.fold {
  max-height: 0 !important;
}

.v-application .my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.card-registration-button {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  width: 100%;
  height: 48px;
  color: #110f1a;
  background: #f3f3f9;
  border: 1px dashed #c7cad9;
  box-sizing: border-box;
  border-radius: 8px;
}

.heart-count a:before {
  background-image: url(https://static.likeycontents.xyz/assets/av1/img/sp2.87f8bd8.png);
  background-repeat: no-repeat;
  background-size: 600px 500px;
  background-position: -20px -160px;
  right: 0;
  width: 9px;
  height: 15px;
  content: "";
}

.star_num {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 4px;
  vertical-align: middle;
}
/* 포스트 설정 디자인 */
.sc-bczRLJ.ewaLIj {
  margin: 6px 0px;
  display: inline-block;
  width: 100%;
  text-align: left;
}
.sc-gsnTZi.crCdMa.on > .sc-hKMtZM.knCaaA {
  margin-top: 15px;
  background-color: var(--color-light-gray);
  display: inline-block;
  border-radius: 30px;
  padding: 10px 10px 10px 45px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
}
.sc-gsnTZi.crCdMa.on > p::before {
  position: absolute;
  top: 12px;
  left: 15px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../styles/Icons/ico_coin_pcolor.svg);
}
.newPost {
  flex-direction: inherit;
  align-items: baseline;
  background-color: var(--color-light-gray);
  border-radius: 30px;
  padding: 10px 20px 10px 25px;
  margin: 10px auto;
  width: calc(100% - 60px);
  min-height: 30px;
}
.newPost {
}
.newPost:hover {
  background-color: var(--color-lighttest-gray);
}
.newPost > div > input {
  display: none;
  text-align: center;
}
.newPost > div {
  display: inline-block;
  float: right;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  width: fit-content;
  padding-right: 20px;
}
.newPost:hover > div {
  color: var(--color-main);
}
.newPost > p {
  display: inline-block;
  float: right;
  width: fit-content;
  position: relative;
  padding-left: 26px;
}
.newPost > p::before {
  position: absolute;
  top: -1px;
  left: 0px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../styles/Icons/ico_coin_pcolor.svg);
}
