.datatable-crud-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .table-header {
    align-items: flex-start;
  }
}

.datatable-crud-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .p-toolbar {
    flex-wrap: wrap;
  }
  .datatable-crud-demo .p-toolbar .p-button {
    margin-bottom: 0.25rem;
  }
  .datatable-crud-demo .table-header {
    flex-direction: column;
  }
  .datatable-crud-demo .table-header .p-input-icon-left,
  .datatable-crud-demo .table-header input {
    width: 100%;
  }
}

.datatable-crud-demo .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.datatable-crud-demo .product-list-item {
  align-items: center;
  width: 100%;
}

.datatable-crud-demo .product-list-item .product-list-content {
  flex: 1 1 0;
}

@media screen and (max-width: 576px) {
  .datatable-crud-demo .product-list-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .datatable-crud-demo .product-list-category {
    text-align: left;
  }

  .datatable-crud-demo .product-list-item .product-list-content {
    text-align: center;
    justify-content: flex-start;
  }

  .datatable-crud-demo .product-list-item .product-duration {
    align-self: center;
  }

  .datatable-crud-demo .product-list-item .product-list-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;
  }
}
/* 불편사항 신고 */

.primary-column .qnaBox,
.primary-column .answerBox {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 24px;
}
.primary-column .qnaBox {
  margin-top: 20px;
}
.primary-column strong {
  /* display: block; 무료 팔로우 혜택 수정 라이디오 버튼 타이틀에 쓰임 */
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  /* margin-bottom: 8px; 추천 크리에이터 */
}
.primary-column .qnaBox input {
  width: 100%;
  height: 40px;
  display: block;
  margin-bottom: 8px;
  border: 1px solid rgb(210, 213, 219, 94%);
  border-radius: 8px;
  font-size: 14px;
  background-color: #f5f5f5;
  color: #999999;
}
.primary-column .answerBox input {
  width: 100%;
  height: 40px;
  display: block;
  margin-bottom: 8px;
  border: 1px solid rgb(210, 213, 219, 94%);
  border-radius: 8px;
  font-size: 14px;
  color: #000;
}
.primary-column p {
  /* padding-left: 6px; 추천크리에이터 */
  font-size: 14px;
  font-weight: bold;
  color: var(--color-font);
  margin: 0px;
}
