.l-table-view strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.l-table-view strong:nth-of-type(1) {
  padding-top: 24px;
}
.l-table-view select {
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
  padding: 0 16px;
  border: 1px solid rgb(210, 213, 219, 94%);
  border-radius: 8px;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../styles/Icons/optionArrowIcon.svg);
  background-position: right 20px center;
  cursor: pointer;
}
.l-table-view select option {
  width: 100%;
  font-size: 14px;
  line-height: 25px;
}

.post-txt {
  padding: 15px;
  /* margin: 0 15px; */
  border: 1px solid rgb(210, 213, 219, 94%);
  border-radius: 8px;
  /* margin-bottom: 39px; */
}
.post-time {
  display: flex;
  height: 36px;
  line-height: 36px;
  justify-content: space-between;
  margin: 6px 15px;
  align-items: center;
}
.post-time > time {
  display: inline-block;
  padding: 0px 20px;
  height: 28px;
  line-height: 26px;
  background-color: var(--color-font-bg);
  border-radius: 30px;
  font-weight: 600;
  color: var(--color-font-gray);
}
.post-time > time > span,
.post-time span {
  display: inline-block;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  color: var(--color-font-lavel);
}
.post-time > time > span::after,
.post-time span::after {
  content: "";
  display: inline-block;
  /* border-right: 1px solid var(--color-font-lavel-bd); */
  background-color: var(--color-font-lable-bd);
  width: 1px;
  margin: 0px 8px;
  height: 13px;
  vertical-align: middle;
}
.post-txt div button img {
  width: 16px;
  height: 16px;
}

.post-txt div button:nth-of-type(2) img {
  margin: 0 24px;
}
