.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}
.alarmSet > div {
  position: relative;
}
.alarmSet .toggle_box {
  display: inline-block;
  /* height: 30px; */
  position: absolute;
  right: 10px;
  top: 12px;
}
.react-switch-label {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 24px;
  background: var(--color-gray);
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label-on {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 24px;
  background: var(--color-main);
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
.react-switch-label-on .react-switch-button {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

.react-switch-checkbox:checked + .react-switch-label-on .react-switch-button {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 16px;
}

.react-switch-label-on:active .react-switch-button {
  width: 16px;
}

/* chatting alarm onoff toggle */

.bx-select > div {
  position: relative;
}
.bx-select .chat_toggle_box {
  display: inline-block;
  /* height: 30px; */
  position: absolute;
  right: 10px;
  top: -8px;
}

.chat-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.chat-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 47px;
  height: 25px;
  background: #cfc5c5;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.1s;
}

.chat-switch-label-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 47px;
  height: 25px;
  background: #fb7268;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.1s;
}

.chat-switch-label .chat-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
.chat-switch-label-on .chat-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.chat-switch-checkbox:checked + .chat-switch-label .chat-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.chat-switch-checkbox:checked + .chat-switch-label-on .chat-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.chat-switch-label:active .chat-switch-button {
  width: 60px;
}

.chat-switch-label-on:active .chat-switch-button {
  width: 60px;
}

/* 무료 팔로워 혜택 수정 토글 */
.view-content-box .novalidate .wrap-inpToggle {
  /* height: 120px; */
  position: relative;
}

/* 토글 디자인 반영 */
.css-julti5-MuiSwitch-root {
  width: 40px !important;
  height: 24px !important;
  padding: 0px !important;
  border-radius: 20px;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase {
  top: -5px !important;
  left: -5px !important;
}
.css-jsexje-MuiSwitch-thumb {
  width: 16px !important;
  height: 16px !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #fff !important;
}
.css-1yjjitx-MuiSwitch-track {
  background-color: var(--color-gray) !important;
  opacity: 1 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: var(--color-main) !important;
  opacity: 1 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  -webkit-transform: translateX(16px) !important;
  -moz-transform: translateX(16px) !important;
  -ms-transform: translateX(16px) !important;
  transform: translateX(16px) !important;
}
